

header {
    width: 100%;
    position: fixed;
    transition: 0.6s;
    padding: 10px 0;
    border-bottom: 1px rgba(255, 255, 255, 0.377) solid;
    z-index: 3;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: var(--destaques);
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: var(--fundo);
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
    z-index: 5;
	width: 28px;
	height: 4px;
    display: none;
	margin: 0 auto;
	background: var(--branco);
	transform: skew(5deg);
	transition: all .275s;
}


.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: var(--branco);
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

#imagem-3-barras {
    background: url(./images/Component\ 6.svg) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
}
.sticky {
    width: 100%;
    position: fixed;
    padding: 5px 0;
    background-color: var(--branco);
    z-index: 3;
}
.sticky li {
    color: var(--fundo);
}

.sticky .nav-real li a {
    color: var(--fundo);
}

.sticky .button-for-phone {
   filter: invert(1);
}

.nav-dad {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.nav-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 50px;
}

.first-li {
    display: flex;
    align-items: center;
}

li {
    color: var(--branco);
    font-size: 1.5rem;
    font-family:'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.logo-construtora {
    width: 4rem;
    margin:0 5px;
    height: 3rem;
}

.nav-real li a {
    color:  var(--branco);
    font-size: 1.3rem;
    margin: 0 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration:none;
    transition: 0.65s;
}

/* .nav-real li a:hover {
    color: var(--destaques);
    font-size: 1.3rem;
    margin: 0 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration:none;
} */

.nav-real li a:hover::after {
    width: 100%;
    border-radius: 3px;
    border: 2px solid var(--branco);
}
.button-for-phone {
    display: none;
    z-index: 10;
    position: fixed;
}
.nav-real li a::after {
    content:"";
    left:-1px;
    position: absolute;
    margin-top: 5px;
    display: block;
    height: 0px;
    width: 0%;
    background-color:var(--branco);
    transition: width ease-in-out 300ms;
}


.nav-real {
    display: flex;
    margin-right: 15px;
    z-index: 1;
}

.nav-real li {
    margin: auto 0;
}

@media screen and (max-width: 768px) {
    .buttons-nav{
        display: none;
    }

    .button-for-phone {
        display: inline-block;
    }

    .nav-real {
        margin-right: 10px;
        color: var(--fundo-alternativa);
    }

    .first-li h1 {
        font-size: 1.7rem;
    }

    .first-li {
        align-items: center;
    }
    

 }
 
@media screen and (max-width:425px) {
    .first-li h1 {
        font-size: 1.5rem;
    }
}